.weather-application-wrapper {
  color: #4b6673;
  margin: 0 auto;
  max-width: 600px;
}
.weather-application {
  background: #ebe0cc;
  border: 1px solid #eae8d8;
  border-radius: 10px;
  color: #4b6673;
  box-shadow: 2px 2px 2px#4b6673;
  font-family: "Nunito", sans-serif;
  margin: 20px auto 0px;
  max-width: 600px;
  padding: 20px;
}
#city-input,
.search-button,
.location-button {
  background: #ebe0cc;
  border-radius: 8px;
  color: #4b6673;
  font-size: 18px;
  padding: 5px 20px;
}
#city-input {
  outline: 0;
}

.search-button,
.location-button {
  box-shadow: 2px 2px 2px #4b6673;

  background: #4b6673;
  opacity: 90%;
  color: #ebe0cc;
  padding: 5px 10px;
}
.date-time {
  font-size: 13px;
}
.weather-conditions {
  line-height: 1.5;
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

#city-header {
  font-size: 35px;
  font-weight: 900px;
  line-height: 1.5;
  padding: 10px;
  text-align: center;
}
#show-temperature {
  display: block;
  text-align: center;
  color: #ec6e4c;
}
#temp-today {
  font-size: 56px;
  font-weight: 700;
}
.temp-C {
  font-size: 25px;
  position: relative;
  bottom: 20px;
}

#icon-today {
  text-align: center;
  display: block;
  margin: 0 auto;
}
#description {
  text-align: center;
  position: relative;
  top: 10px;
  font-weight: bold;
}
#description::first-letter {
  text-transform: capitalize;
}
.weather-conditions,
#description {
  font-size: 18px;
  line-height: 2;
}

.weather-forecast {
  text-align: center;
}
.weather-forecast-day {
  font-size: 18px;
  font-weight: 600;
  color: #ec6e4c;
}
.weather-forecast-icon {
  font-size: 30px;
}
.weather-forecast-temperature {
  font-size: 13.5px;
  color: #ec6e4c;
}
.temp-min {
  opacity: 75%;
}
.temp-divider {
  color: #4b6673;
}
.github-reference {
  text-decoration: none;
  color: #4b6673;
  font-weight: 600;
}
