.weather-application-wrapper {
  color: #b88855;
  margin: 0 auto;
  max-width: 600px;
}
.weather-application {
  background: #e2d1c3;
  border: 1px solid #b88855;
  border-radius: 10px;
  color: #b88855;
  box-shadow: 2px 2px 2px #b88855;
  font-family: "Nunito", sans-serif;
  margin: 20px auto 0px;
  max-width: 600px;
  padding: 20px;
}
#city-input,
.search-button,
.location-button {
  background: #e2d1c3;
  border: 2px solid #b88855;
  border-radius: 8px;
  color: #b88855;
  font-size: 18px;
  padding: 5px 20px;
}
#city-input {
  outline: 0;
}
.search-button,
.location-button {
  box-shadow: 2px 2px 2px #8d6b46;
  position: relative;
  right: 35px;
  background: #b88855;
  color: #e2d1c3;
  padding: 5px 10px;
}
.location-button {
  right: 80px;
}
.date-time {
  font-size: 13px;
}
.weather-conditions {
  line-height: 1.5;
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

#city-header {
  font-size: 35px;
  font-weight: 900px;
  line-height: 1.5;
  padding: 10px;
  text-align: center;
}

#temp-today,
.temp-C {
  font-size: 56px;
  font-weight: 700;
}
.temperature-conversion {
  font-size: 15px;
  font-weight: 300;
  margin-top: 17px;
}
.temp-C,
.temp-F {
  text-decoration: none;
}
.temp-F {
  font-size: 17px;
  font-weight: bold;
}
.temperature-conversion {
  font-weight: 300;
  font-size: 15px;
  position: relative;
  bottom: 30px;
}
.temp-link {
  text-decoration: none;
  color: #b88855;
}
.temp-link:hover {
  cursor: pointer;
  color: #ec6e4c;
}
#icon-today {
  font-size: 20px;
  text-align: center;
  display: block;
  margin: 0 auto;
}
#description {
  text-align: center;
  position: relative;
  top: 10px;
}
#description::first-letter {
  text-transform: capitalize;
}
.weather-conditions,
#description {
  font-size: 18px;
}

.weather-forecast {
  text-align: center;
}
.weather-forecast-day {
  font-size: 18px;
  font-weight: 500;
}
.weather-forecast-icon {
  font-size: 25px;
}
.weather-forecast-temperature {
  font-size: 13.5px;
}
.temp-min {
  opacity: 75%;
}

.github-reference {
  text-decoration: none;
  color: #b88855;
  font-weight: 600;
}
