.weather-application-wrapper {
  color: #b88855;
  margin: 0 auto;
  max-width: 600px;
}
.weather-application {
  background: #e2d1c3;
  border: 1px solid #b88855;
  border-radius: 10px;
  color: #b88855;
  box-shadow: 2px 2px 2px #b88855;
  font-family: "Nunito", sans-serif;
  margin: 20px auto 0px;
  max-width: 600px;
  padding: 20px;
}

.date-time,
.weather-conditions {
  list-style: none;
  padding: 0;
  margin: 0;
}

#city-header {
  font-size: 30px;
  font-weight: 900px;
  line-height: 1.5;
}

#description::first-letter {
  text-transform: capitalize;
}
#temp-today,
.temp-C {
  color: #e7b053;
  font-size: 56px;
  font-weight: 700;
}
.temperature-conversion {
  color: #e7b053;
  font-size: 15px;
  font-weight: 300;
}
.temp-C,
.temp-F {
  text-decoration: none;
  color: #e7b053;
}
.temp-F {
  font-size: 17px;
  font-weight: bold;
}
#icon-today {
  color: #b88855;
  font-size: 50px;
  position: relative;
  bottom: 15px;
}
.weather-conditions {
  color: #e7b053;
  font-size: 20px;
}

.github-reference {
  text-decoration: none;
  color: #b88855;
  font-weight: 600;
}
